
.carousel-caption {
    font-size: medium;
}

div.source * {
    color: black;
}

.jumbotron {
    border-radius: 4px;
}

#birthdayCard {
    padding-right: 10%;
    padding-left: 10%;   
    padding-bottom: 5%;
}


.card-body {
    padding-bottom: 0%;
}

#aboutJumbotron {
    border-style: solid;
    border-width: 2px;
    border-color: #5A5A5A;
}

.source cite {
    color: white;
}

.source footer {
    color: white;
}