.jumbotron {
    background-color: #b759ff !important;
}

.card {
    background-color: #b759ff !important;
}

.btn {
    background-color: #29ab9c;
}

.card-header {
   color: white;
}

h4 {
    color: white;
}

p {
    color: white;
}

label {
    color: white;
}