.jumbotron {
    background-color: #11191E !important;
    border-style: solid;
    border-width: 1px;
    border-color: #5A5A5A !important;
}

.card {
    background-color: #11191E !important;
    border-color: #5A5A5A !important; 
}

.btn {
    background-color: #849089;
}

.card-header {
   color: white;
}

h4 {
    color: white;
}

p {
    color: white;
}

label {
    color: white;
}

.modalTitle {
    color: white;
}

.myModal .modal-content{
    background-color: #11191E;
}