.jumbotron {
    background-color: #676767 !important;
}

.card {
    background-color: #676767 !important;
}

.btn {
    background-color: #849089;
}

.card-header {
   color: white;
}

h4 {
    color: white;
}

p {
    color: white;
}

label {
    color: white;
}