@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (min-width: 771px) {
    h1 {
        font-size: 650% !important;
    }
}
@media screen and (max-width: 770px) {
    h1 {
        font-size: 500% !important;
    }
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url(../fonts/OpenSans/OpenSansCondensed-Light.ttf) format('truetype');
}

h1 {
    max-width: 1000px;
}
  