.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

body::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

@media screen and (max-width: 768px) {
  .tags {
    color: gray
  }

  .tags:hover {
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) { 
  .tags {
    margin: 0px 10px;
    border-style: none;
    border-radius: 5px;
    padding: 12px 40px;
    transition: background-color 0.5s ease-in;
    background-color: #FFF;
    color: gray;
  }
  
  .tags:hover {
      text-decoration: none;
      background-color: gray;
      color: #FFF;
    }
}



.navbar-fixed-top {
  top: -70px; 
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative; 
}

.navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}

nav.navbar.open {
  margin-bottom: 120px;
}

.navlogo {
  height: auto;
  width: auto;
  max-height: 54px;
  max-width: 198px;
}

h1 {
  font-family: 'Bree Serif', serif;
}


html {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

